book_author.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="book_author_type">
      <xs:sequence>
         <xs:element name="author_id" type="xs:long"/>
         <xs:element name="book_id" type="xs:long"/>
      </xs:sequence>
   </xs:complexType>

   <xs:element name="book_author_info" type="book_author_type"/>

   <xs:complexType name="book_author_root">
      <xs:sequence>
         <xs:element ref="book_author_info" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>

   <xs:element name="book_author" type="book_author_root"/>
</xs:schema>