src/book_genre.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="book_genre_type">
      <xs:sequence>
         <xs:element name="genre_id" type="xs:long"/>
         <xs:element name="book_id" type="xs:long"/>
      </xs:sequence>
   </xs:complexType>

   <xs:element name="book_genre_info" type="book_genre_type"/>

   <xs:complexType name="book_genre_root">
      <xs:sequence>
         <xs:element ref="book_genre_info" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>

   <xs:element name="book_genre" type="book_genre_root"/>
</xs:schema>