src/genre.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="genre_type">
      <xs:sequence>
         <xs:element name="id" type="xs:string"/>
         <xs:element name="genre_name" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>

   <xs:element name="genre_info" type="genre_type"/>

   <xs:complexType name="genre_root">
      <xs:sequence>
         <xs:element ref="genre_info" minOccurs="0"
                        maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>

   <xs:element name="genre" type="genre_root"/>
</xs:schema>