src/isbn.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="isbn_type">
      <xs:sequence>
         <xs:element name="id" type="xs:integer"/>
         <xs:element name="isbn_number" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>

   <xs:element name="isbn_info" type="isbn_type"/>

   <xs:complexType name="isbn_root">
      <xs:sequence>
         <xs:element ref="isbn_info" minOccurs="0"
                        maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>

   <xs:element name="isbn" type="isbn_root"/>
</xs:schema>